@import '../scss-setings/vars.scss';

.header {
  position: fixed;
  z-index: 60;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba($firefly, 0.6);
  padding: 20px 0;

  &__container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    @media ( max-width: 772px ) {
      flex-direction: column;
      justify-content: center;
    }
  }
}