@import '../scss-setings/vars.scss';

.search {
  position: relative;

  &__input {
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #117383;
    outline: transparent;
    padding: 2px 15px;
    color: $white;
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance:none;
    }
  }


}