@import '../../scss-setings/vars.scss';

.home {
  min-height: 100vh;

  &__container {
    padding: 0 15px;
    padding-top: 150px;
    min-height: 100vh;
    // display: flex;
    // align-items: center;
  }

  &__info {

    position: relative;
    z-index: 150;
    display: inline-block;
    font-size: 20px;
    max-width: 400px;
    overflow: hidden;
    blockquote {
      background-color: $bg;
      border: solid 2px #117383;
      display: inline-block;
      margin: 0;
      padding: 1em;
      position: relative;
      // overflow: hidden;
      &:before {
        animation: clockwise 30s infinite linear;
        background-color: $bg;
        bottom: 10%;
        content: "";
        left: 0;
        opacity:.5;
        position: absolute;
        right: 0;
        top:10%;
      }
      &:after {
        animation:counter 30s infinite linear;
        background-color: $bg;
        bottom:10%;
        content: "";
        left: 0;
        opacity:.5;
        position: absolute;
        right: 0;
        top:10%;
      }
      cite {
        display: block;
        font-style: italic;
        text-align: right;
        &:before {
          content: "- ";
        }
      }
      > * {
        position: relative;
        z-index: 1;
      }
    }
  }
}


@keyframes clockwise {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}

@keyframes counter {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(-360deg);
  }
}
