
html,
body {
  height: 100%;
}

.main {
  flex-grow: 1;
}

#root {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: 10;
    background-color: rgba($firefly, 0.7);
  }
}

body {
  font-family: $Montserrat;
  background-color: $firefly;
  font-weight: 500;
  font-size: 16px;
  color: $coffeeBean;
  display: flex;
  flex-direction: column;
  background-image: url("./../../public/images/poster.jpg");
  background-position: right 100% bottom;
  background-size: 110% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media ( max-width: 992px ) {
    background-position: right bottom;
    background-size: 100% 100%;
  }
}

[class*="__container"] {
  max-width: 1140px;
  padding: 100px 15px 0;
  margin: 0 auto;
}

.btn-reset {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: transparent;
}

.btn {
  color: $white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px 15px;
  border: 1px solid $maroon;
  margin-left: auto;
  position: relative;
  &::after {
    left: 0;
    top: 0;
    height: 100%;
    width: 70%;
    z-index: -1;
    background-color: $maroon;
    content: "";
    position: absolute;
    transition: width 0.3s ease-in;
  }
  &:hover {
    &::after {
      width: 100%;
      transition: width 0.3s ease-in;
    }
  }
  &:active {
    &::after {
      background-color: rgba($maroon, 0.7);
    }
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $maroon rgba($firefly, 0.5);
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: rgba($firefly, 0.6);
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: $maroon;
  border-radius: 5px;
  border: 3px solid rgba($firefly, 0.9);
}

