@import '../../scss-setings/vars.scss';

.houses {
  min-height: 100vh;

  &__list {
    width: 90%;
    padding: 30px;
    margin: 0 auto;
    position: relative;
    z-index: 50;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    @media ( max-width: 1120px ) {
      width: 100%;
      padding: 20px;
      padding-top: 80px;
    }
    @media ( max-width: 992px ) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media ( max-width: 772px ) {
      grid-template-columns: repeat(1, 1fr);
      width: 70%;
    }
    @media ( max-width: 540px ) {
      width: 100%;
    }
  }


  &__card {
    height: 300px;
    padding: 10px;
    background-image: url("../../../public/images/logo.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    background-color: #000;
    &::before {
      content: '';
      inset: -3px;
      position: absolute;
      box-shadow: 0 0 0 10px #070c23;
      background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
      z-index: -1;
    }
    &::after {
      content: '';
      inset: -3px;
      position: absolute;
      box-shadow: 0 0 0 10px #070c23;
      background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #5e015e);
      z-index: -1;
      filter: blur(20px);
    }
  }

  &__name {
    display:block;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    padding: 2px;
    transition: background-color 0.3s ease-in;
    &:hover {
      background-color: #117383;
    }
  }
}

